img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  background-color: rgb(147, 142, 142);
}

main {
  margin: 0 20px;
  font-size: 1.1em;
}
h2{
  font-size: 1.8em;
  font-weight: bold;
}
h3{
  font-size: 1.2em;
  font-weight: bold;
}
b { 
  font-weight: bold;
}
hr {
  margin: 1.5em;
  width: 95%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
  text-align: justify;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
